<section class="section-experience" id="experience">
    <div class="container">
            <h2 class="moments-title">Coffee Moments</h2>
            <p class="moments-text">
                Experience the warmth and community of CoffeeJoy.
            </p>

        <div class="gallery-container">
            <ul class="gallery-list">
                <li class="gallery-item">
                        <picture>
                            <source srcset="/img/experience/coffee-cup-mob-1x.jpg 1x, /img/experience/coffee-cup-mob-2x.jpg 2x" 
                                    media="(max-width: 767px)" />
                            <source srcset="/img/experience/coffee-cup-tab-1x.jpg 1x, /img/experience/coffee-cup-tab-2x.jpg 2x" 
                                    media="(max-width: 1439px)" />
                            <source srcset="/img/experience/coffee-cup-desk-1x.jpg 1x, /img/experience/coffee-cup-desk-2x.jpg 2x" 
                                    media="(min-width: 1440px)" />
                            <img class="gallery-img" src="/img/experience/coffee-cup-desk-1x.jpg" alt="Coffee cup" />
                        </picture>
                </li>
                <li class="gallery-item">
                        <picture>
                            <source srcset="/img/experience/breakfast-scene-mob-1x.jpg 1x, /img/experience/breakfast-scene-mob-2x.jpg 2x"
                                media="(max-width: 767px)" />
                            <source srcset="/img/experience/breakfast-scene-tab-1x.jpg 1x, /img/experience/breakfast-scene-tab-2x.jpg 2x"
                                media="(max-width: 1439px)" />
                            <source srcset="/img/experience/breakfast-scene-desk-1x.jpg 1x, /img/experience/breakfast-scene-desk-2x.jpg 2x"
                                media="(min-width: 1440px)" />
                            <img class="gallery-img" src="/img/experience/breakfast-scene-desk-1x.jpg" alt="breakfast scene" />
                        </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source srcset="/img/experience/coffee-book-mob-1x.jpg 1x, /img/experience/coffee-book-mob-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/experience/coffee-book-tab-1x.jpg 1x, /img/experience/coffee-book-tab-2x.jpg 2x"
                            media="(max-width: 1439px)" />
                        <source srcset="/img/experience/coffee-book-desk-1x.jpg 1x, /img/experience/coffee-book-desk-2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="gallery-img" src="/img/experience/coffee-book-desk-1x.jpg" alt="Coffee cup and book on table" />
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source srcset="/img/experience/hands-barista-mob-1x.jpg 1x, /img/experience/hands-barista-mob-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/experience/hands-barista-tab-1x.jpg 1x, /img/experience/hands-barista-tab-2x.jpg 2x"
                            media="(max-width: 1439px)" />
                        <source srcset="/img/experience/hands-barista-desk-1x.jpg 1x, /img/experience/hands-barista-desk-2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="gallery-img" src="/img/experience/hands-barista-desk-1x.jpg" alt="barista making coffee" />
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source srcset="/img/experience/shop-interior-mob-1x.jpg 1x, /img/experience/shop-interior-mob-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/experience/shop-interior-tab-1x.jpg 1x, /img/experience/shop-interior-tab-2x.jpg 2x"
                            media="(max-width: 1439px)" />
                        <source srcset="/img/experience/shop-interior-desk-1x.jpg 1x, /img/experience/shop-interior-desk-2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="gallery-img" src="/img/experience/shop-interior-desk-1x.jpg" alt="interior of shop" />
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source srcset="/img/experience/two-coffee-cups-mob-1x.jpg 1x, /img/experience/two-coffee-cups-mob-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/experience/two-coffee-cups-tab-1x.jpg 1x, /img/experience/two-coffee-cups-tab-2x.jpg 2x"
                            media="(max-width: 1439px)" />
                        <source srcset="/img/experience/two-coffee-cups-desk-1x.jpg 1x, /img/experience/two-coffee-cups-desk-2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="gallery-img" src="/img/experience/two-coffee-cups-desk-1x.jpg" alt="two coffe cups on desk" />
                    </picture>
                </li>
                <li class="gallery-item">
                    <picture>
                        <source srcset="/img/experience/takeaway-mob-1x.jpg 1x, /img/experience/takeaway-mob-2x.jpg 2x"
                            media="(max-width: 767px)" />
                        <source srcset="/img/experience/takeaway-tab-1x.jpg 1x, /img/experience/takeaway-tab-2x.jpg 2x"
                            media="(max-width: 1439px)" />
                        <source srcset="/img/experience/takeaway-desk-1x.jpg 1x, /img/experience/takeaway-desk-2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="gallery-img" src="/img/experience/takeaway-desk-1x.jpg" alt="coffe for takeaway" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>