<header class="header">
  <div class="container header-container">
    <a class="logo" href="/index.html">
      <svg class="header-logo-svg" width="63" height="36">
        <use href="/img/sprite.svg#icon-Company-Logo"></use>
      </svg>
    </a>
    <button class="header-button">
      <svg class="header-icon" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list"><a class="nav-link" href="#about">About us</a></li>
        <li class="nav-list">
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
