<!-- QUALITY -->
 <section class="section-quality" id="quality">
   <div class="container quality-cont">
    <div class="first-block">
     <h2 class="titel-qual">Quality</h2>
      <h3 class="first-subtitel">Why CoffeeJoy Stands Out from the Rest</h3>
      <p class="q-text">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted coffee, crafted with care by our skilled baristas.
    Our flexible subscription plans ensure that your coffee experience is tailored to your needs.
      </p>
    </div>
    <div class="second-block">
        <ul class="qual-list">
            <li class="qual-item">
                <img srcset="./img/quality.img/roasted-coffee-beans-1.jpg 1x, ./img/quality.img/roasted-coffee-beans-2.jpg 2x" 
                src="./img/quality.img/roasted-coffee-beans-2.jpg"
                    alt="A close-up of roasted coffee beans being poured into a grinder or stored in a glass jar. Light steam rises in the background from a brewing coffee setup." 
                    width="288" 
                    height="164" 
                    class="qual-img" />
               <div class="container-img">    
                <h3 class="img-subtitel">Fresh-Roasted Coffee for Every Taste</h3>
                <p class="img-text">Savor the rich flavors of our expertly sourced beans.</p>
            </div>
            </li>
            <li class="qual-item">
                <img srcset="./img/quality.img/focused-barista-1.jpg 1x, ./img/quality.img/focused-barista-2.jpg 2x" src="./img/quality.img/focused-barista-2.jpg"
                    alt="A focused barista in a modern coffee shop carefully making a pour-over or espresso"
                    width="288" height="164" class="qual-img" />
                <div class="container-img">
                    <h3 class="img-subtitel">Expert Baristas Crafting Your Perfect Brew</h3>
                <p class="img-text">Our baristas are passionate about coffee and skilled in their craft.</p>
            </div>
            </li>
            <li class="qual-item">
                <img srcset="./img/quality.img/welcoming-coffee-1.jpg 1x, ./img/quality.img/welcoming-coffee-2.jpg 2x" src="./img/quality.img/welcoming-coffee-2.jpg"
                    alt="Generate a warm, welcoming coffee shop interior scene"
                    width="288" height="164" class="qual-img" />
                <div class="container-img cont-img-last">
                    <h3 class="img-subtitel">Cozy Atmosphere</h3>
                    <p class="img-text">We don’t just serve coffee — we create a warm and welcoming space where every cup feels like home.</p>
                </div>
                </li>
        </ul>
    </div>
   </div>
 </section>
