<section>
  <div class="container subscribe-container">
    <div class="subscribe">
      <h2 class="subscribe-title">Join Our Coffee Community</h2>
      <p class="subscribe-title-label">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="subscribe-form">
        <div class="inp-wrp">
          <input
            type="email"
            id="email-subscribe"
            placeholder="Your Email Here"
            class="subscribe-input"
            name="email"
            required
          />
          <p class="text-valid">Succes!</p>
          <p class="text-invalid">Error Text</p>
        </div>
        <button type="submit" class="subscribe-button">
          Subscribe
          <svg width="24" height="24" class="svg-button">
            <use href="/img/sprite.svg#icon-chevrons-right" />
          </svg>
        </button>
      </form>
      <p class="form-title">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <img
      srcset="/img/subscribe-img 1x.jpg x1, /img/subscribe-img 2x.jpg x2"
      src="/img/subscribe-img 1x.jpg"
      alt="office"
      class="subscribe-img"
    />
  </div>
</section>
