<div class="subscribe-success" id="subscribe-success" role="presentation">
    <div class="subscribe-success__dialog" role="dialog" aria-modal="true" aria-labelledby="subscribe-success-title"
        aria-describedby="subscribe-success-desc">
        <a class="subscribe-success__close-icon" href="#subscribe" aria-label="Close modal">
            &times;
        </a>

        <h2 class="subscribe-success__title" id="subscribe-success-title">
            WELCOME TO THE WORLD OF COFFEEJOY!
        </h2>

        <p class="subscribe-success__desc" id="subscribe-success-desc">
            Fresh brews, special offers, and cozy updates are coming your way.
        </p>

        <picture class="subscribe-success__picture">

            <source media="(min-width: 1440px)" srcset="
          ./img//modal_desctop.jpg,
          ./img/modal-desctop2x.jpg
        " />

            <source media="(min-width: 768px)" srcset="
          ./img/modal-tablet.jpg,
          ./img/modal-tablet2x.jpg
        " />

            <img class="subscribe-success__img" src="./img/modal-mobile.jpg" srcset="./img/modal-mobile2x.jpg"
                alt="CoffeeJoy illustration: cup of coffee, letter, and croissant" loading="lazy" />
        </picture>

        <a class="subscribe-success__btn" href="#subscribe" role="button">Close</a>
    </div>
</div>