<section class="testimonials" id="testimonials">
    <div class="container">
        <h2 class="testimonials-title">What our visitors say</h2>
        <ul class="testimonials-list">
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item"> 
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg> 
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg> 
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg> 
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "Every cup feels like a warm hug! I&rsquo;m addicted to their seasonal flavors!"
                    </p>
                    <p class="testimonials-author">Name Surname</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "CoffeeJoy is my go-to place for a perfect cup of coffee! The ambiance is so inviting, and the baristas are always
                        friendly."
                    </p>
                    <p class="testimonials-author">Alice Johnson</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "I love the variety of blends offered at CoffeeJoy. Every visit feels like a new experience!"
                    </p>
                    <p class="testimonials-author">Michael Smith</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "The pastries are to die for! I can&rsquo;t resist pairing them with my favorite latte. Highly recommend this spot!"
                    </p>
                    <p class="testimonials-author">Emily Davis</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "A cozy little gem! CoffeeJoy has the best cold brew in town. I come here every weekend!"
                    </p>
                    <p class="testimonials-author">James Brown</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "The atmosphere is perfect for working or relaxing with friends. Their Wi-Fi is fast too!"
                    </p>
                    <p class="testimonials-author">Sarah Wilson</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "I&rsquo;m addicted to their seasonal flavors! Each one is crafted with such care and creativity."
                    </p>
                    <p class="testimonials-author">Chris Lee</p>
                </div>
            </li>
            <li class="testimonials-item">
                <div class="testimonials-content">
                    <ul class="testimonials-rating">
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item">
                            <svg class="rating-icon" width="24" height="24">
                                <use href="/img/sprite.svg#icon-star-filled"></use>
                            </svg>
                        </li>
                        <li class="testimonials-rating-item ">
                            <svg class="rating-icon" width="24" height="24" fill="none" stroke="#0b0803" stroke-width="1px">
                                <use href="/img/sprite.svg#icon-star-outline"></use>
                            </svg>
                        </li>
                    </ul>
                    <p class="testimonials-text">
                        "I appreciate how they source their coffee beans sustainably. It's great to support such an ethical business!"
                    </p>
                    <p class="testimonials-author">Patricia Taylor</p>
                </div>
            </li>
        </ul>
    </div>
</section>