/* .header {
  background-color: #e0cbb4;
} */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-button {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: opacity 250ms ease;
}

.header-icon {
  display: block;
  fill: #0b0803;
}

.nav {
  display: none;
}

.header-button:hover,
.header-button:focus {
  opacity: 0.5;
}

.header-button:active {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 64px;
  }
  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: opacity 250ms ease;
  }

  .header-button {
    display: none;
  }

  .header-icon {
    display: none;
  }

  .nav-link:hover,
  .nav-link:focus {
    opacity: 0.7;
  }
  
  .nav-link:active {
    opacity: 0.5;
  }
}
