.location {
  padding: 64px 0;
}
.location-info {
  margin-bottom: 40px;
}
.location-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.location-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 16px;
}
.location-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.location-list {
  margin-bottom: 32px;
}

.location-item:not(:last-child) {
  margin-bottom: 40px;
}
.location-icon {
  margin-bottom: 16px;
}
.location-contact-label {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.location-link,
.location-address {
  display: block;
  width: fit-content;
  font-size: 16px;
  line-height: 1.4;
  font-style: normal;
  text-decoration: none;
  border-bottom: 1px solid #23201c;
}

.location-address {
  border-bottom: none;
  margin-bottom: 12px;
}
.location-contact-box {
  display: flex;
  flex-direction: column;
}
.location-directions {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  border-bottom: none;
  line-height: 1.5;
  white-space: nowrap;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.location-map {
  border-radius: 40px;
  overflow: hidden;
  height: 307px;
  width: 100%;
}
.location-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
@media screen and (min-width: 768px) {
  .location-container {
    max-width: 768px;
    padding: 0 32px;
  }
  .location-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }
  .location-item {
    width: calc((100% - 40px) / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .location-icon {
    margin-bottom: 20px;
  }
  .location-content {
    display: block;
  }

  .location-contacts-wrapper {
    position: relative;
  }

  .location-directions {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .location-map {
    height: 377px;
    max-width: 100%;
    border-radius: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .location {
    padding: 64px 0;
  }
  .location-container {
    max-width: 1440px;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }
  .location-left-side {
    flex-shrink: 0;
    width: 419px;
    display: flex;
    flex-direction: column;
  }
  .location-info {
    margin-bottom: 64px;
  }
  .location-list {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .location-address,
  .location-link {
    white-space: nowrap;
  }

  .location-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  .location-icon {
    margin-bottom: 0;
    flex-shrink: 0;
  }
  .location-map {
    flex-grow: 1;
    max-width: 869px;
    height: 697px;
    margin-top: 0;
    border-radius: 24px;
  }
  .location-map iframe {
    width: 100%;
    height: 100%;
  }
}
