.first-block {
    padding-top: 64px;
    margin-bottom: 32px;
}

.titel-qual {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
}
.first-subtitel {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0 auto 24px;
    max-width: 288px;
}

.q-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

 .qual-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    list-style: none;
}

.qual-item {
    width: 288px;
    margin: 0 auto;    
}

.qual-img {
    width: 100%;
    border-radius: 32px;
}

.img-subtitel {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 8px;
}

.img-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.second-block {
    padding-bottom: 64px;
}

@media screen and (min-width:768px) {

    .quality-cont {
        padding: 0 32px;
    }


    .first-subtitel {
        max-width: 452px;
    }

   .qual-list {
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .qual-item {
        width: 340px; 
    }

    .qual-item:last-child {
        width: 100%;
        max-width: 100%;
    }

.container-img {
    margin: 0 auto;
    width: 294px;
}

.cont-img-last {
    width: 440px;
}    
}

@media screen and (min-width:1440px) {
.quality-cont {
    padding: 0 62px;
}

.first-block {
    margin: 0 auto 32px;
    width: 768px;
}

.first-subtitel { 
    font-size: 48px;
    max-width: 768px;

}

.qual-list {
    flex-wrap: nowrap;
    justify-content: space-between;
}
    
.qual-item, .qual-item:last-child {
    width: calc((100% - 48px) / 3);
    margin: 0;
}

.container-img {
    width: 100%;
}

}