.testimonials {
    padding: 64px 0;
}

.testimonials-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
}

.testimonials-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.testimonials-item {
    width: 100%;
    background-color: #c29d84;
    border: 1px solid rgba(11, 8, 3, 0.15);
    border-radius: 32px;
}

.testimonials-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.testimonials-rating {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}

.testimonials-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.testimonials-author {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    /* container padding centralized in container.css */

    .testimonials-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1440px) {
    /* container padding centralized in container.css */

    .testimonials-title {
        font-size: 48px;
        max-width: 416px;
    }

    .testimonials-item {
        width: calc((100% - 72px) / 4);
    }
}