/* ========== WELCOME  ========== */
.welcome {
    padding: 64px 0;
}

.welcome__panel {
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    background: var(--c-panel, #e0cbb4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.welcome__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.welcome__heading,
.welcome__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.welcome__heading {
    gap: 16px;
}

.welcome__content {
    gap: 32px;
}


.welcome__eyebrow {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.welcome__title {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Aboreto', sans-serif;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    white-space: normal;
    overflow-wrap: anywhere;
}

.welcome__text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.welcome__btn {
    width: 100%;
}

.welcome__btn-icon use {
    fill: #fff;
}

.welcome__image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 40px;
}

/* ===== TABLET 768+ ===== */
@media (min-width: 768px) {

    .welcome__top {
        flex-direction: row;
        align-items: flex-start;
    }

    .welcome__heading {
        flex: 0 0 336px;
        max-width: 336px;
    }

    .welcome__content {
        max-width: 336px;
    }

    .welcome__title {
        max-width: 336px;
        text-wrap: balance;
    }

    .welcome__title br {
        display: none;
    }

    .welcome__btn {
        width: 181px;
    }
}

/* ===== DESKTOP 1440+ ===== */
@media (min-width: 1440px) {
    .welcome__panel {
        gap: 80px;
    }

    .welcome__heading,
    .welcome__content {
        flex: 0 0 640px;
        max-width: 640px;
    }

    .welcome__btn {
        width: 181px;
    }

    .welcome__title {
        max-width: 640px;
    }
}